:root {
  --main-font: playfair display;
  --supporting-font: "Poppins", sans-serif;
  --main-colour: #6836bc;
  --about-colour: #524668;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  line-height: 42px;
  font-family: var(--supporting-font);
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #524668;
  transition: all 90ms ease-in-out;
}
nav a:hover {
  font-weight: bold;
}
nav li.active a {
  color: var(--main-colour);
}

.social-hero {
  background-color: #524668;
  padding-left: 30px;
  color: #edebf1;
  max-width: 25%;
  margin-right: 65%;
  margin-left: 10px;
  border-bottom-right-radius: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
}

.somebody {
  background-color: #eeebf1;
}
.hero {
  background: #f4f1fe;
  text-align: center;
  padding: 80px 20px;
}
.hero p {
  font-family: var(--supporting-font);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
h1 {
  font-family: var(--main-font);
  font-size: 96px;
  font-weight: bold;
  line-height: 1.5;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 24px;
  line-height: 2;
}
.about-section {
  color: rgb(228, 213, 213);
  margin-bottom: 10px;
  padding: 60px 65px;
  border: 40%;
  background-color: #524668;
  text-align: center;
  border-radius: 12px;
}

.about-section h2 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: lighter;
  color: white;
}
.about-section-content {
  margin: 10px;
}
.about-section-content h3 {
  font-size: 24px;
  font-family: var(--supporting-font);
  font-weight: bold;
  line-height: 1.5;
}
.about-section p {
  text-align: start;
  font-size: 14px;
}
.btn-branding {
  background: #6836bc;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

h2 {
  font-size: 55px;
  font-family: var(--main-font);
}
p {
  font-family: var(--supporting-font);
  font-size: 16px;
  line-height: 30px;
}
.btn-branding-outline {
  border: #6836bc solid 1px;
  border-radius: 8px;
  color: #6836bc;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-outline {
  padding: 30px 50px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 42px;
  }
  .hero h2 {
    padding: 60px 10px;
  }

  .project-outline {
    padding: 0;
    text-align: center;
  }
  .about-section {
    text-align: center;
    padding: 0;
  }
  nav a {
    font-size: 12px;
  }
  .cont-bet {
  }
  h4 {
    font-family: var(--main-font);
    font-size: 18px;
  }
}
footer {
  margin: 60px 0;
}
.contact-box {
  background: #eeebf1;
  padding: 30px 120px;
  border-radius: 10px;
}
.contact-box p {
  margin: 0 auto;
}
h4 {
  font-family: var(--main-font);
  font-size: 30px;
}

.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
  font-family: var(--supporting-font);
}
.email-link:hover {
  color: var(--main-colour);
}
.social-links a {
  margin: 15px 35px;
  color: #edebf1;
  font-size: 30px;
  background-color: #7a708f;
  padding: 15px;
  border-radius: 40px 25px;
  transition: all 100ms ease-in-out;
}

.social-links a:hover {
  color: white;
  background: var(--main-colour);
}

.about-contact-section h1 {
  color: var(--about-colour);
  font-size: 35px;

  max-width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.about-contact-section h2 {
  font-size: 80p;
  color: var(--about-colour);
  margin: 40px;
  font: var(--supporting-font);
  font-weight: bold;
}
hr {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  color: #6836bc;
}
.bottomline {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  color: #6836bc;
}
.phone {
  background-color: #eeebf1;
  margin-bottom: 15px;
}
.mail {
  background-color: #eeebf1;
}
i {
  margin: 10px;
}
.grid-four {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  margin: 20px 0;
}
.my-title h1 {
  font-size: 30px;
  text-align: center;
  color: #524668;
  margin: 40px;
}
